.da-img {
	list-style: none;
}
.da-img li a {
	display: block;
	overflow: hidden;
	position: relative;
}
.da-img li a div {
	width: 100%;
	height: 100%;
	position: absolute;
}
.da-img li a div span {
	position: absolute;
	bottom: 0;
	margin: 0.4em;
	display: block;
	font-weight: bold;
	font-size: 0.8em;
	color: #ddd;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #222;
	border-top: 3px solid #aaa;
	border-bottom: 1px solid #bbb;
	background-color: rgba(75, 75, 75, 0.6);
}