<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/my_bootstrap.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}crisis_app/img/favicons/favicon.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<title>Crisis</title>
</head>
<body>
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <ul class="nav pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">People</a></li>
        <li><a href="#">Organizations</a></li>
        <li class="divider-vertical"></li>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search Crises" />
        </form>
      </ul>
    </div>
  </div>
</header>
{% block content %}
{% endblock %}
<footer class="container">
  <hr />
  <div class="span4">
    <p>World Crisis Database<br />&#169;2013 team</p>
  </div>
  <div class="span4 offset1">
    <p>For the best experience, view this page with <a href="http://www.chromium.org/Home" target="_blank">Chromium</a> with a minimum resolution of 1024x768.</p>
    <p>For the worst experience, view this page with <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie" target="_blank">Internet Explorer</a> with a maximum resolution of 1024x768.</p>
  </div>
  <div class="span4 offset1">
    <p>About?<br />Contact?</p>
  </div>
</footer>

<!-- CSS/JavaScript -->
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/bootstrap.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/jquery.mousewheel.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/scrollbar.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/jit.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/json.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/treemap.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/init.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/treemap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/scrollbar.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/custom.css" />
</body>
</html>
