{% extends "crisis_app/base_site.html" %}
{% block title %}{{ type }}{% endblock %}

{% block content %}
<section class="container">
  <h1>{{ type }}</h1>
  {% if content_list %}
  <div id="mContainer" class="columns">
    {% for elem in content_list %}
    <a href="/{{ dir }}/{{ elem.0.id }}">
      <div class="pin well">
        {% if elem.1 %}
        <img class="media-object" src="{{ elem.1.url }}" />
        {% endif %}
       	<h3>{{ elem.0.name }}</h3>
     	  <p>{{ elem.0.kind }}: {{ elem.0.location }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}

{% block tail_imports %}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/masonry.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/columns.css" />
{% endblock %}

{% block script %}
$('#nav_{{ dir }}').addClass('active');
function load(){
  $('#mContainer>a>div').addClass('contentItem');
  var mContainer = document.querySelector('#mContainer');
  var masonry = new Masonry(mContainer, {
    itemSelector: '.contentItem'
  });
}
window.onload = load;
{% endblock %}