{% extends "crisis/base_site.html" %}

{% block content %}
<div id="chart"></div>
<div class="well container">
  <div class="span4 offset2">
    <h4 class="inline">Size: </h4>
    <div id="tileSize" class="btn-group" data-toggle="buttons-radio">
      <button id="btnPop" class="btn active" type="button">Popular</button>
      <button id="btnEqual" class="btn" type="button">Equal</button>
    </div>
  </div>
  <div class="span3">
    <button id="btnBack" class="btn" type="button">Go Back</button>
  </div>
  <div class="span4">
    <h4 class="inline">Tooltip: </h4>
    <div class="btn-group" data-toggle="buttons-radio">
      <button id="btnTipOn" class="btn active" type="button">On</button>
      <button id="btnTipOff" class="btn" type="button">Off</button>
    </div>
  </div>
</div>
{% endblock %}

{% block tail_imports %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/pScrollbar.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/jit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/treemap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/treemap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/pScrollbar.css" />
{% endblock %}

{% block script %}
{{ block.super }}
$('#nav_home').addClass('active');
var json = {{ json|safe }};
$('#btnPop').tooltip({ animation: false, placement: 'bottom', title: 'Tiles are sized by popularity'});
$('#btnEqual').tooltip({ animation: false, placement: 'bottom', title: 'Tiles are sized equally'});
$('#btnBack').tooltip({ animation: false, placement: 'bottom', title: 'Go up one level (right click)'});
$('#btnTipOn').tooltip({ animation: false, placement: 'bottom', title: 'Tooltips will appear on hover'});
$('#btnTipOff').tooltip({ animation: false, placement: 'bottom', title: 'Tooltips will not appear on hover'});
// Speeds up testing
//window.onload = init_splash;
{% endblock %}