{% extends "crisis_app/base_site.html" %}
{% block title %}{{ org.name }}{% endblock %}

{% block content %}
<section class="container">
  <h1>{{ org.name }}</h1>
  <div class="well clearfix">
    <aside class="span4 pull-right">
      <table class="table">
        <thead>
          <tr>
            <th colspan="2"><h4 class="text-center">{{ org.name }}</h4></th>
          </tr>
        </thead>
        <tbody>
          {% if embed.images.0 %}
          <tr>
            <td style="text-align: center;" colspan="2"><a href="{{ embed.images.0.url }}" ><img src="{{ embed.images.0.url }}" /></a></td>
          </tr>
          {% endif %}
          <tr>
            <td>Type</td>
            <td>{{ org.kind }}</td>
          </tr>
          <tr>
            <td>Location</td>
            <td>{{ org.location }}</td>
          </tr>
          <tr>
            <td>Contact</td>
            <td>{{ org.contact_info }}</td>
          </tr>
        </tbody>
      </table>
    </aside>
    {% if events|length > 0 %}
      <h3>Influential Events</h3>
      <hr />
      <ul>
        {% for event in events %}
        <li><a href="/events/{{ event.id }}">{{ event.name }}</a></li>
        {% endfor %}
      </ul>
      <br />
    {% endif %}
    {% if people|length > 0 %}
      <h3>Influential People</h3>
      <hr />
      <ul>
        {% for person in people %}
        <li><a href="/people/{{ person.id }}">{{ person.name }}</a></li>
        {% endfor %}
      </ul>
      <br />
    {% endif %}
    {% if embed.images|length > 1 %}
      <h3>Images</h3>
      <ul id="mContainer" class="da-img">
        {% for image in embed.images|slice:"1:" %}
        <li class="imageItem">
          <a href="{{ image.url }}" target="_blank">
            <img src="{{ image.url }}" />
            <div><span>{{ image.desc }}</span></div>
          </a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if embed.videos %}
      <h3>Videos</h3>
      <ul>
        {% for video in embed.videos %}
        <li>
          <a href="{{ video.url }}" target="_blank">{{ video.desc }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if embed.maps %}
      <h3>Maps</h3>
      <ul>
        {% for map in embed.maps %}
        <li>
          <a href="{{ map.url }}" target="_blank">{{ map.desc }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if embed.feeds %}
      <h3>Feeds</h3>
      <ul>
        {% for feed in embed.feeds %}
        <li>
          <a href="{{ feed.url }}" target="_blank">{{ feed.desc }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if embed.citations %}
      <h3>References</h3>
      <ul>
        {% for citation in embed.citations %}
        <li>
          <a href="{{ citation.url }}" target="_blank">{{ citation.desc }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block tail_imports %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/columns.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/da_img.css" />
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/modernizr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/masonry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/hoverdir.js"></script>
{% endblock %}

{% block script %}
$('#nav_orgs').addClass('active');
$('.da-img>li').each(function(){
  $(this).hoverdir();
});
function load(){
  var mContainer = document.querySelector('#mContainer');
  var masonry = new Masonry(mContainer, {
    itemSelector: '.imageItem'
  });
}
window.onload = load
{% endblock %}