<!DOCTYPE html>
<html>
<head>
{% block head_imports %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/my_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/custom.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}crisis_app/img/favicons/favicon.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
<title>WCDb: {% block title %}World Crisis Database{% endblock %}</title>
</head>
<body>
<header id="top" class="jtScroll">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="/">WCDb</a>
      <ul class="nav pull-right">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_about"><a href="/about">About</a></li>
        <li id="nav_events"><a href="/events">Events</a></li>
        <li id="nav_people"><a href="/people">People</a></li>
        <li id="nav_orgs"><a href="/orgs">Organizations</a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span>Hello
            {% if request.user.is_authenticated %}
            , {{ request.user }}!
            {% endif %}</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/xml">View XML<span></span></a></li>
            {% if request.user.is_authenticated %}
            <li><a href="/upload_xml">Upload XML<span></span></a></li>
            <li><a href="/logout">Logout<span></span></a></li>
            {% else %}
            <li><a href="/login">Login<span></span></a></li>
            {% endif %}
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <form method="GET" action="/" class="navbar-search" onsubmit="var test = validate(this); return false;">
            <div class="input-append">
              <input id="searchbox" type="text" name="q" class="search-query" placeholder="Search WCDb" value="{% if query %}{{ query }}{% endif %}" />
              <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul id="search-categories" class="dropdown-menu">
                  <label class="radio">
                    <input type="radio" name="t" value="events"{% if type %}{% if type|lower|slice:":1" == 'e' %} checked{% endif %}{% else %} checked{% endif %}>Events</input>
                  </label>
                  <label class="radio">
                    <input type="radio" name="t" value="people"{% if type|lower|slice:":1" == 'p' %} checked{% endif %}>People</input>
                  </label>
                  <label class="radio">
                    <input type="radio" name="t" value="orgs"{% if type|lower|slice:":1" == 'o' %} checked{% endif %}>Organizations</input>
                  </label>
                </ul>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
  {% block error %}
  {% endblock %}
</header>
{% block content %}
{% endblock %}
<footer id="bottom" class="container jtScroll">
  <hr />
  <div class="span4">
    <span>World Crisis Database &#169;2013 </span><a href="/about">team</a><br />
    <a href="/upload_xml">Manage</a><span> site</span><br />
    <span>Icons by </span><a href="http://glyphicons.com/" target="_blank">Glyphicons</a>
  </div>
  <div class="span4 offset1">
    <span>For a decent experience, view this page in </span><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a><span> with a maximum resolution of 1024x768.</span>
  </div>
  <div class="span4 offset1">
    <span>For an awesome experience, view this page in </span><a href="http://www.chromium.org/Home" target="_blank">Chromium</a><span> with a minimum resolution of 1024x768.</span>
  </div>
</footer>
<br />
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-body">
    <div class="navbar">
      <span class="brand">Just Type</span>
      <form id="modalForm" method="GET" action="/" class="navbar-search" onsubmit="return validate(this);">
        <div class="input-append">
          <input id="justType" type="text" name="q" class="search-query input-medium" placeholder="Search WCDb" />
          <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
          <select name="t" class="btn input-medium" form="modalForm">
            <option value="events" selected="selected">Events</option>
            <option value="people"{% if type|lower|slice:":1" == 'p' %} selected="selected"{% endif %}>People</option>
            <option value="orgs"{% if type|lower|slice:":1" == 'o' %} selected="selected"{% endif %}>Organizations</option>
          </select>
        </div>
      </form>
      <button type="button" class="close" data-dismiss="modal">&#215;</button>
    </div>
  </div>
</div>
{% block tail_imports %}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/inlineComplete.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/jt.js"></script>
{% endblock %}
<script type="text/javascript">
{% block script %}
if(document.body.style['webkitPerspective'] !== undefined || document.body.style['MozPerspective'] !== undefined){
    $('a').each(function(){
      if($(this).children().length < 1){
        $(this).addClass('roll');
        $(this).html('<span data-title="'+ $(this).text() +'">' + $(this).html() + '</span>')
      }
    });
}
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
  e.stopPropagation();
});
function validate(f){
  var query = f.elements['q'].value.trim();
  if(query == ''){
    return false;
  }
  for(var r in request){
    if(query.toLowerCase() == request[r].toLowerCase()){
      //alert('in');
      $('#searchModal').modal('hide');
      eval(actions[r]);
      //alert('here');
      return false;
    }
  }
  // Prevents overloading search forms
  var size = query.length < 32;
  if(!size){
    alert('Please limit your search to 31 characters.');
    return false;
  }
  return true;
}
{% endblock %}
</script>
</body>
</html>
