<!DOCTYPE html>
<html>
<head>
{% block head_imports %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/my_bootstrap.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/custom.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}crisis_app/img/favicons/favicon.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
<title>WCDb: {% block title %}World Crisis Database{% endblock %}</title>
</head>
<body>
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="/">WCDb</a>
      <ul class="nav pull-right">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_about"><a href="/about">About</a></li>
        <li id="nav_events"><a href="/events">Events</a></li>
        <li id="nav_people"><a href="/people">People</a></li>
        <li id="nav_orgs"><a href="/orgs">Organizations</a></li>
        <li class="divider-vertical"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Hello
            {% if request.user.is_authenticated %}
            , {{ request.user }}!
            {% endif %}
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {% if request.user.is_authenticated %}
            <li><a href="/upload_xml">Upload XML<span></span></a></li>
            <li><a href="/logout">Logout<span></span></a></li>
            {% else %}
            <li><a href="/login">Login<span></span></a></li>
            {% endif %}
          </ul>
        </li>
        <li class="divider-vertical"></li>
        <li>
          <form method="GET" action="/" class="navbar-search" onsubmit="return validate(this);">
            <div class="input-append">
              <input id="searchbox" type="text" name="q" class="search-query" placeholder="Search WCDb" value="{% if query %}{{ query }}{% endif %}" />
              <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
              <div class="btn-group">
                <button class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="caret"></span>
                </button>
                <ul id="search-categories" class="dropdown-menu">
                  <label class="radio">
                    <input type="radio" name="t" value="events"{% if type %}{% if type|lower|slice:":1" == 'e' %} checked{% endif %}{% else %} checked{% endif %}>Events</input>
                  </label>
                  <label class="radio">
                    <input type="radio" name="t" value="people"{% if type|lower|slice:":1" == 'p' %} checked{% endif %}>People</input>
                  </label>
                  <label class="radio">
                    <input type="radio" name="t" value="orgs"{% if type|lower|slice:":1" == 'o' %} checked{% endif %}>Organizations</input>
                  </label>
                </ul>
              </div>
            </div>
          </form>
        </li>
      </ul>
    </div>
  </div>
  {% block error %}
  {% endblock %}
</header>
{% block content %}
{% endblock %}
<footer class="container">
  <hr />
  <div class="span4">
    <span>World Crisis Database &#169;2013 </span><a href="/about">team</a><br />
    <span><a href="/upload_xml">Manage</a> site</span><br />
    <span>Icons by <a href="http://glyphicons.com/">Glyphicons</a></span>
  </div>
  <div class="span4 offset1">
    <span>For the best experience, view this page in </span><a href="http://www.chromium.org/Home" target="_blank">Chromium</a><span> with a minimum resolution of 1024x768.</span>
  </div>
  <div class="span4 offset1">
    <span>For the worst experience, view this page in </span><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a><span> with a maximum resolution of 1024x768.</span>
  </div>
</footer>
<br />
<div id="searchModal" class="modal hide fade" tabindex="-1" role="dialog">
  <div class="modal-body">
    <div class="navbar">
      <span class="brand">Just Type</span>
      <form id="modalForm" method="GET" action="/" class="navbar-search" onsubmit="return validate(this);">
        <div class="input-append">
          <input id="justType" type="text" name="q" class="search-query input-medium" placeholder="Search WCDb" />
          <button type="submit" class="btn"><i class="icon-search icon-white"></i></button>
          <select name="t" class="btn input-medium" form="modalForm">
            <option value="events" selected="selected">Events</option>
            <option value="people"{% if type|lower|slice:":1" == 'p' %} selected="selected"{% endif %}>People</option>
            <option value="orgs"{% if type|lower|slice:":1" == 'o' %} selected="selected"{% endif %}>Organizations</option>
          </select>
        </div>
      </form>
      <button type="button" class="close" data-dismiss="modal">&#215;</button>
    </div>
  </div>
</div>
{% block tail_imports %}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/inlineComplete.js"></script>
{% endblock %}
<script type="text/javascript">
{% block script %}
if(document.body.style['webkitPerspective'] !== undefined || document.body.style['MozPerspective'] !== undefined){
    $('a').each(function(){
      if($(this).children().length < 1){
        $(this).addClass('roll');
        $(this).html('<span data-title="'+ $(this).text() +'">' + $(this).html() + '</span>')
      }
    });
}
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
  e.stopPropagation();
});
function validate(f){
  var query = f.elements['q'].value;
  if(query.charAt(0) == '@'){
    var result = direct(query);
    if(result){
      return false;
    }
  }
  var empty = query.trim() == '';
  var size = query.length < 32;
  if(empty){
    return false;
  }
  if(!size){
    alert('Please limit your search to 31 characters.');
    return false;
  }
  return true;
}
function direct(q){
  var elements = q.split(/\s+/);
  var len = elements.length;
  var result = false;
  for(var i = 0; i < len; i++){
    var url;
    switch(elements[i].toLowerCase()){
      case '@home':
        url = '/';
        break;
      case '@about':
        url = '/about';
        break;
      case '@events':
        url = '/events';
        break;
      case '@people':
        url = '/people';
        break;
      case '@organizations':
        url = '/orgs';
        break;
    }
    if(url){
      result = true;
      window.open(url, (i == 0 ? '_self' : '_blank'));
    }
  }
  return result;
}
/* Just Type */
document.getElementsByTagName('html')[0].onkeypress = function(e) {
  e = e || window.event;
  var charCode = e.which || e.keyCode;
  var charTyped = String.fromCharCode(charCode);
  if(document.activeElement.tagName == 'INPUT'){
    return;
  }
  if(/[a-z0-9@]/i.test(charTyped)){
    searchbox = document.getElementById('justType');
    if(searchbox.value == ''){
      $('#searchModal').modal('show');
    }
    searchbox.focus();
  }
}
$(document).keyup(function(e){
  if (e.keyCode == 27) { // Escape key
    $('#searchModal').modal('hide');
  }
});
$('#searchModal').modal({ backdrop: false, keyboard: false, show: false });
$('#searchModal').on('shown', function(){
  searchbox = document.getElementById('justType');
  searchbox.focus();
});
$('#searchModal').on('hide', function(){
  searchbox = document.getElementById('justType');
  searchbox.value = '';
  searchbox.blur();
});
$('#justType').inlineComplete({
  list: ['@home', '@about', '@events', '@people', '@organizations']
});
{% endblock %}
</script>
</body>
</html>
