{% extends "crisis/base_site.html" %}

{% block content %}
<section class="container">
  <h1>{% block content_title %}{% endblock %}</h1>
  <div class="well clearfix">
    {% block content_custom %}
    {% endblock %}
    {% block relations %}
    {% if events|length %}
      <h3>Influential Events</h3>
      {% for event in events %}
      <a href="/events/{{ event.id }}">{{ event.name }}</a><p>{{ event.location }}, {{ event.date_time|date }}{% if event.date_time|time != "midnight" %}, {{ event.date_time|time }}{% endif %}</p><p>{{ event.human_impact|safe }}</p>
      <br />
      {% endfor %}
      <br />
    {% endif %}
    {% if people|length %}
      <h3>Influential People</h3>
      {% for person in people %}
      <a href="/people/{{ person.id }}">{{ person.name }}</a><p>{{ person.kind }}, {{ person.location }}</p>
      {% endfor %}
      <br />
    {% endif %}
    {% if orgs|length %}
      <h3>Influential Organizations</h3>
      {% for org in orgs %}
      <a href="/orgs/{{ org.id }}">{{ org.name }}</a><p>{{ org.history|safe }}</p><br />
      {% endfor %}
      <br />
    {% endif %}
    {% endblock %}
    {% block embed %}
      {% if embed.images.1 %}
        <h3 class="jtScroll" id="images">Images</h3>
        <div id="mContainer" class="columns columns-3">
          {% for image in embed.images|slice:"1:" %}
          <a href="{{ image.url }}" rel="lightbox-content" title="{{ image.desc }}">
            <div class="pin well">
              <img class="media-object" src="{{ image.url }}" />
              <p>{{ image.desc }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
        <p class="clearfix"></p>
        <br />
      {% endif %}
      {% if embed.videos %}
        <h3 class="jtScroll" id="videos">Videos</h3>
        {% for video in embed.videos %}
        {{ video.url|safe }}
        {% endfor %}
        <br />
      {% endif %}
      {% if embed.maps %}
        <h3 class="jtScroll" id="maps">Maps</h3>
          {% for map in embed.maps %}
          <a href="{{ map.url }}" target="_blank">{{ map.desc }}</a><br />
          {% endfor %}
        <br />
      {% endif %}
      {% if embed.feeds %}
        <h3 class="jtScroll" id="feeds">Feeds</h3>
          {% for feed in embed.feeds %}
          <a href="{{ feed.url }}" target="_blank">{{ feed.desc }}</a><br />
          {% endfor %}
        <br />
      {% endif %}
      {% if embed.citations %}
        <h3 class="jtScroll" id="references">References</h3>
          {% for citation in embed.citations %}
          <a href="{{ citation.url }}" target="_blank">{{ citation.desc }}</a><br />
          {% endfor %}
        <br />
      {% endif %}
    {% endblock %}
  </div>
</section>
{% endblock %}

{% block tail_imports %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/columns.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/slimbox2.css" />
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/masonry.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/slimbox2.js"></script>
{% endblock %}

{% block script %}
{{ block.super }}
{% if embed.images %}
// Masonry stalls scripts in Firefox, hence the hack... ugh :/
if(!navigator.userAgent.match(/firefox/gi)){
  function load(){
    $('#mContainer>a>div').addClass('imageItem');
    var mContainer = document.querySelector('#mContainer');
    var masonry = new Masonry(mContainer, {
      itemSelector: '.imageItem'
    });
  }
  window.onload = load
}
{% endif %}
{% endblock %}