{% extends "crisis_app/content.html" %}
{% block title %}{{ event.name }}{% endblock %}
{% block content_title %}{{ event.name }}{% endblock %}

{% block content_custom %}
<aside class="span4 pull-right">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="2"><h4 class="text-center">{{ event.name }}</h4></th>
      </tr>
    </thead>
    <tbody>
      {% if embed.images.0 %}
      <tr>
        <td style="text-align: center;" colspan="2"><a href="{{ embed.images.0.url }}" ><img src="{{ embed.images.0.url }}" /></a></td>
      </tr>
      {% endif %}
      <tr>
        <td>Type</td>
        <td>{{ event.kind }}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{ event.location }}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ event.date_time|date }}</td>
      </tr>
      {% if event.date_time|time != "midnight" %}
      <tr>
        <td>Time</td>
        <td>{{ event.date_time|time }}</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</aside>
<h3>Human Impact</h3>
<hr />
<p>{{ event.human_impact }}</p>
<br />
<h3>Economic Impact</h3>
<hr />
<p>{{ event.economic_impact }}</p>
<br />
<h3>Resources Used</h3>
<hr />
<p>{{ event.resources_needed }}</p>
<br />
<h3>Aid Provided</h3>
<hr />
<p>{{ event.ways_to_help }}</p>
<br />
{% endblock %}

{% block script %}
{{ block.super }}
$('#nav_events').addClass('active');
{% endblock %}