{% extends "crisis/base_site.html" %}
{% block title %}{{ type }}{% endblock %}

{% block content %}
<section class="container">
  <h1>{{ type }}</h1>
  {% if content_list %}
  <div id="mContainer" class="columns columns-5">
    {% for elem in content_list %}
    <a class="jtGo" name="{{ elem.0.name }}" href="/{{ dir }}/{{ elem.0.id }}">
      <div class="pin well">
        {% if elem.1 %}
        <img class="media-object" src="{{ elem.1.url }}" />
        {% endif %}
       	<h3>{{ elem.0.name }}</h3>
     	  <p>{{ elem.0.kind }}: {{ elem.0.location }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
  {% endif %}
</section>
{% endblock %}

{% block tail_imports %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/masonry.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/columns.css" />
{% endblock %}

{% block script %}
{{ block.super }}
$('#nav_{{ dir }}').addClass('active');
// Masonry stalls scripts in Firefox, hence the hack... ugh :/
if(!navigator.userAgent.match(/firefox/gi)){
  function load(){
    $('#mContainer>a>div').addClass('listItem');
    var mContainer = document.querySelector('#mContainer');
    var masonry = new Masonry(mContainer, {
      itemSelector: '.listItem'
    });
  }
  window.onload = load;
}
{% endblock %}