{% extends "crisis_app/content.html" %}
{% block title %}{{ org.name }}{% endblock %}
{% block content_title %}{{ org.name }}{% endblock %}

{% block content_custom %}
<aside class="span4 pull-right">
  <table class="table">
    <thead>
      <tr>
        <th colspan="2"><h4 class="text-center">{{ org.name }}</h4></th>
      </tr>
    </thead>
    <tbody>
      {% if embed.images.0 %}
      <tr>
        <td style="text-align: center;" colspan="2">
          <a href="{{ embed.images.0.url }}" target="_blank">
            <img src="{{ embed.images.0.url }}" />
          </a>
        </td>
      </tr>
      {% endif %}
      <tr>
        <td>Type</td>
        <td>{{ org.kind }}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td>{{ org.location }}</td>
      </tr>
      <tr>
        <td>Contact</td>
        <td>{{ org.contact_info|safe }}</td>
      </tr>
    </tbody>
  </table>
</aside>
<h3>History</h3>
<p>{{ org.history }}</p>
<br />
{% endblock %}

{% block script %}
{{ block.super }}
$('#nav_orgs').addClass('active');
{% endblock %}