<!DOCTYPE html>
<html>
<head>
{% block head_imports %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/my_bootstrap.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}crisis_app/img/favicons/favicon.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
<title>WCDb: {% block title %}World Crisis Database{% endblock %}</title>
</head>
<body>
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="/">WCDb</a>
      <ul class="nav pull-right">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_about"><a href="/about">About</a></li>
        <li id="nav_events"><a href="/events">Events</a></li>
        <li id="nav_people"><a href="/people">People</a></li>
        <li id="nav_orgs"><a href="/orgs">Organizations</a></li>
        <li class="divider-vertical"></li>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search Crises" />
        </form>
      </ul>
    </div>
  </div>
  {% block error %}
  {% endblock %}
</header>
{% block content %}
{% endblock %}
<footer class="container">
  <hr />
  <div class="span4">
    <span>World Crisis Database</span><br />
    <span>&#169;2013 </span><a href="/about">team</a>
  </div>
  <div class="span4 offset1">
    <span>For the best experience, view this page in </span><a href="http://www.chromium.org/Home" target="_blank">Chromium</a><span> with a minimum resolution of 1024x768.</span>
  </div>
  <div class="span4 offset1">
    <span>For the worst experience, view this page in </span><a href="http://www.firefox.com" target="_blank">Firefox</a><span> with a maximum resolution of 1024x768.</span>
  </div>
</footer>
{% block tail_imports %}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/custom.css" />
{% endblock %}
{% block script %}
<script type="text/javascript">
if(document.body.style['webkitPerspective'] !== undefined || document.body.style['MozPerspective'] !== undefined){
    $('a').each(function(){
      if($(this).children().length < 1){
        $(this).addClass('roll');
        $(this).html('<span data-title="'+ $(this).text() +'">' + $(this).html() + '</span>')
      }
    });
}
{% endblock %}
</script>
</body>
</html>
