<!DOCTYPE html>
<html>
<head>
{% block head_imports %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/my_bootstrap.css" />
<link rel="icon" type="image/png" href="{{ STATIC_URL }}crisis_app/img/favicons/favicon.png" />
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
{% endblock %}
<title>WCDb: {% block title %}World Crisis Database{% endblock %}</title>
</head>
<body>
<header>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <a class="brand" href="/">WCDb</a>
      <ul class="nav pull-right">
        <li id="nav_home"><a href="/">Home</a></li>
        <li id="nav_about"><a href="/about">About</a></li>
        <li id="nav_events"><a href="/events">Events</a></li>
        <li id="nav_people"><a href="/people">People</a></li>
        <li id="nav_orgs"><a href="/orgs">Organizations</a></li>
        <li class="divider-vertical"></li>
        <form method="GET" action="/" class="navbar-search" onsubmit="return validate(this);">
          <div class="input-append">
            <input type="text" name="q" class="search-query" placeholder="Search WCDb" value="{% if query %}{{ query }}{% endif %}" autofocus />
            <button type="submit" class="btn">Search</button>
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul id="search-categories" class="dropdown-menu">
                <label class="checkbox">
                  <input type="checkbox" name="e"{% if selections %}{% if selections.events %} checked{% endif %}{% else %} checked{% endif %}>Events</input>
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="p"{% if selections.people %} checked{% endif %}>People</input>
                </label>
                <label class="checkbox">
                  <input type="checkbox" name="o"{% if selections.orgs %} checked{% endif %}>Organizations</input>
                </label>
              </ul>
            </div>
          </div>
        </form>
      </ul>
    </div>
  </div>
  {% block error %}
  {% endblock %}
</header>
{% block content %}
{% endblock %}
<footer class="container">
  <hr />
  <div class="span4">
    <span>World Crisis Database</span><br />
    <span>&#169;2013 </span><a href="/about">team</a>
  </div>
  <div class="span4 offset1">
    <span>For the best experience, view this page in </span><a href="http://www.chromium.org/Home" target="_blank">Chromium</a><span> with a minimum resolution of 1024x768.</span>
  </div>
  <div class="span4 offset1">
    <span>For the worst experience, view this page in </span><a href="http://www.firefox.com" target="_blank">Firefox</a><span> with a maximum resolution of 1024x768.</span>
  </div>
</footer>
{% block tail_imports %}
<script type="text/javascript" src="{{ STATIC_URL }}crisis_app/js/bootstrap.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}crisis_app/css/custom.css" />
{% endblock %}
<script type="text/javascript">
{% block script %}
if(document.body.style['webkitPerspective'] !== undefined || document.body.style['MozPerspective'] !== undefined){
    $('a').each(function(){
      if($(this).children().length < 1){
        $(this).addClass('roll');
        $(this).html('<span data-title="'+ $(this).text() +'">' + $(this).html() + '</span>')
      }
    });
}
$('.dropdown-menu input, .dropdown-menu label').click(function(e) {
  e.stopPropagation();
});
function validate(f){
  var empty = f.elements['q'].value.trim() == '';
  var category = f.elements['e'].checked || f.elements['p'].checked || f.elements['o'].checked;
  var size = f.elements['q'].value.length < 32;
  if(empty){
    return false;
  }
  if(!category){
    $('#search-categories').dropdown('toggle');
    return false;
  }
  if(!size){
    alert('Please limit your search to 31 characters.');
    return false;
  }
  return true;
}
{% endblock %}
</script>
</body>
</html>
